In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
file="Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types
df= pd.read_csv(file)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
df.columns
df_reduced=df.iloc[:, [0, 1, 2, 3, 4, 6,7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
df_reduced.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampName', 'BootcampPostSalary',
       'BootcampRecommend', 'ChildrenNumber', 'CityPopulation',
       'CodeEventBootcamp', 'CountryLive', 'EmploymentField',
       'EmploymentStatus', 'Gender', 'HasChildren', 'HoursLearning', 'Income',
       'JobRoleInterest', 'SchoolDegree', 'SchoolMajor'],
      dtype='object')

In [5]:
# Change reading 0 and 1 to No and Yes, respectively
df_reduced=df_reduced.replace({0: "No", 1:"Yes"})
df_reduced.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Extract rows for only those who attended a bootcamp
BTatended = df_reduced.loc[(df_reduced["AttendedBootcamp"] == "Yes")]

BTatended.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,Codify Academy,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,DaVinci Coders,45000.0,No,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,Coder Foundry,75000.0,Yes,3,"less than 100,000",...,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,General Assembly,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,NaN,No,NaN,"between 100,000 and 1 million",...,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [7]:
# Create DataFrame of the different boot camps that had a significant number of attendees
BTatended=BTatended.replace('Free Code Camp is not a bootcamp - please scroll up and change answer to "no"','Free Code Camp')
camps =BTatended.groupby(["BootcampName"])
camps=camps.count()
camps=camps.sort_values("AttendedBootcamp",ascending=False)
camps=camps.loc[(camps["AttendedBootcamp"] > 10)]

camps=camps["AttendedBootcamp"]

camps

BootcampName
General Assembly                  90
Flatiron School                   54
Dev Bootcamp                      48
The Iron Yard                     40
Prime Digital Academy             30
Hack Reactor                      29
Turing                            27
App Academy                       22
Hackbright Academy                22
Bloc.io                           21
Code Fellows                      21
MakerSquare                       20
Galvanize                         20
New York Code + Design Academy    20
Coding Dojo                       18
The Firehose Project              16
Free Code Camp                    15
Epicodus                          14
Dev Academy                       13
Makers Academy                    12
Tech Talent South                 12
Coder Camps                       11
Name: AttendedBootcamp, dtype: int64

In [8]:
# Count how many attendees of each bootcamp would recommend the bootcamp
BTrecommend = BTatended.loc[(BTatended["BootcampRecommend"] == "Yes")]
recom =BTrecommend.groupby(["BootcampName"])
recom=recom.count()
recom=recom.sort_values("BootcampRecommend",ascending=False)
#recom=recom.loc[(recom["BootcampRecommend"] > 10)]
recom=recom ["BootcampRecommend"]
recom

BootcampName
General Assembly                                 70
Flatiron School                                  50
Dev Bootcamp                                     41
The Iron Yard                                    31
Hack Reactor                                     27
Turing                                           26
Prime Digital Academy                            25
App Academy                                      20
Hackbright Academy                               19
MakerSquare                                      18
Code Fellows                                     15
Free Code Camp                                   14
New York Code + Design Academy                   14
Dev Academy                                      13
The Firehose Project                             13
Makers Academy                                   12
Coding Dojo                                      11
Epicodus                                         11
Galvanize                                        11
Bloc.io                                          11
Viking Code School                               10
CodeaCamp                                         8
Ada                                               8
Tech Talent South                                 8
Launch Academy                                    8
Software Guild                                    8
DevMountain                                       8
Fullstack Academy                                 6
Codeup                                            6
Coder Camps                                       6
                                                 ..
Base10 Academy                                    1
The Data Incubator                                1
Starter League                                    1
Operation Spark                                   1
Ruby On The Beach                                 1
Claim Academy                                     1
Fire Bootcamp                                     1
Digital House                                     1
Founders & Coders                                 1
DESIGNATION                                       1
Coding House                                      1
Codify Academy                                    1
Coder's Lab                                       1
Coder Foundry                                     1
HackerYou                                         1
CodeMasters Academy                               1
Ladies Learning Code                              1
CodeCraft School                                  1
Launch School (formerly Tealeaf Academy)          1
Le Wagon                                          1
LearningFuze                                      1
Code Union                                        1
Metis                                             1
Microsoft Research Data Science Summer School     1
Mobile Makers Academy                             1
Code Institute                                    1
Code 42                                           1
Origin Code Academy                               1
PDX Code Guild                                    1
tradecraft                                        1
Name: BootcampRecommend, Length: 116, dtype: int64

In [9]:
# Merge the two created data frames on the name of tbe bootcamp
merge_table = pd.merge(camps, recom, on="BootcampName")

merge_table

                                AttendedBootcamp  BootcampRecommend
BootcampName
General Assembly                              90                 70
Flatiron School                               54                 50
Dev Bootcamp                                  48                 41
The Iron Yard                                 40                 31
Prime Digital Academy                         30                 25
Hack Reactor                                  29                 27
Turing                                        27                 26
App Academy                                   22                 20
Hackbright Academy                            22                 19
Bloc.io                                       21                 11
Code Fellows                                  21                 15
MakerSquare                                   20                 18
Galvanize                                     20                 11
New York Code + Design Academy                20                 14
Coding Dojo                                   18                 11
The Firehose Project                          16                 13
Free Code Camp                                15                 14
Epicodus                                      14                 11
Dev Academy                                   13                 13
Makers Academy                                12                 12
Tech Talent South                             12                  8
Coder Camps                                   11                  6

In [10]:
# Calculate percentage of eac bootcamp's students who are recommenders
merge_table["Percentage of recommendations"]=((merge_table["BootcampRecommend"]/merge_table["AttendedBootcamp"])*100).map("${:.2f}%".format)

merge_table

,AttendedBootcamp,BootcampRecommend,Percentage of recommendations
BootcampName,,,
General Assembly,90,70,$77.78%
Flatiron School,54,50,$92.59%
Dev Bootcamp,48,41,$85.42%
The Iron Yard,40,31,$77.50%
Prime Digital Academy,30,25,$83.33%
Hack Reactor,29,27,$93.10%
Turing,27,26,$96.30%
App Academy,22,20,$90.91%
Hackbright Academy,22,19,$86.36%
Bloc.io,21,11,$52.38%
Code Fellows,21,15,$71.43%
MakerSquare,20,18,$90.00%
Galvanize,20,11,$55.00%
New York Code + Design Academy,20,14,$70.00%
Coding Dojo,18,11,$61.11%
The Firehose Project,16,13,$81.25%
Free Code Camp,15,14,$93.33%
Epicodus,14,11,$78.57%
Dev Academy,13,13,$100.00%
Makers Academy,12,12,$100.00%
Tech Talent South,12,8,$66.67%
Coder Camps,11,6,$54.55%

In [11]:
# Export to excel and remove index

merge_table=merge_table.sort_values("Percentage of recommendations",ascending=False)
report=merge_table.reset_index()
report

,BootcampName,AttendedBootcamp,BootcampRecommend,Percentage of recommendations
0,Turing,27,26,$96.30%
1,Free Code Camp,15,14,$93.33%
2,Hack Reactor,29,27,$93.10%
3,Flatiron School,54,50,$92.59%
4,App Academy,22,20,$90.91%
5,MakerSquare,20,18,$90.00%
6,Hackbright Academy,22,19,$86.36%
7,Dev Bootcamp,48,41,$85.42%
8,Prime Digital Academy,30,25,$83.33%
9,The Firehose Project,16,13,$81.25%
10,Epicodus,14,11,$78.57%
11,General Assembly,90,70,$77.78%
12,The Iron Yard,40,31,$77.50%
13,Code Fellows,21,15,$71.43%
14,New York Code + Design Academy,20,14,$70.00%
15,Tech Talent South,12,8,$66.67%
16,Coding Dojo,18,11,$61.11%
17,Galvanize,20,11,$55.00%
18,Coder Camps,11,6,$54.55%
19,Bloc.io,21,11,$52.38%
20,Dev Academy,13,13,$100.00%
21,Makers Academy,12,12,$100.00%

In [12]:

# Export to Excel
report.to_csv("output\BootcampOutputPart2.csv")
report

,BootcampName,AttendedBootcamp,BootcampRecommend,Percentage of recommendations
0,Turing,27,26,$96.30%
1,Free Code Camp,15,14,$93.33%
2,Hack Reactor,29,27,$93.10%
3,Flatiron School,54,50,$92.59%
4,App Academy,22,20,$90.91%
5,MakerSquare,20,18,$90.00%
6,Hackbright Academy,22,19,$86.36%
7,Dev Bootcamp,48,41,$85.42%
8,Prime Digital Academy,30,25,$83.33%
9,The Firehose Project,16,13,$81.25%
10,Epicodus,14,11,$78.57%
11,General Assembly,90,70,$77.78%
12,The Iron Yard,40,31,$77.50%
13,Code Fellows,21,15,$71.43%
14,New York Code + Design Academy,20,14,$70.00%
15,Tech Talent South,12,8,$66.67%
16,Coding Dojo,18,11,$61.11%
17,Galvanize,20,11,$55.00%
18,Coder Camps,11,6,$54.55%
19,Bloc.io,21,11,$52.38%
20,Dev Academy,13,13,$100.00%
21,Makers Academy,12,12,$100.00%