### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
table = pd.pivot_table(purchase_data, values='Price', index=['SN', 'Item ID', 'Item Name'])

table.head(20)

                                                                Price
SN           Item ID Item Name
Adairialis76 123     Twilight's Carver                           2.28
Adastirin33  175     Woeful Adamantite Claymore                  4.48
Aeda94       128     Blazeguard, Reach of Eternity               4.91
Aela59       119     Stormbringer, Dark Blade of Ending Misery   4.32
Aelaria33    171     Scalpel                                     1.79
Aelastirin39 58      Freak's Bite, Favor of Holy Might           4.14
             76      Haunted Bronzed Bludgeon                    3.15
Aelidru27    183     Dragon's Greatsword                         1.09
Aelin32      60      Wolf                                        3.54
             115     Spectral Diamond Doomblade                  2.04
             151     Severance                                   3.40
Aelly27      14      Possessed Core                              2.61
             116     Renewed Skeletal Katana                     4.18
Aellynun67   153     Mercenary Sabre                             3.74
Aellyria80   159     Oathbreaker, Spellblade of Trials           3.08
Aelollo59    3       Phantomlight                                2.49
             172     Blade of the Grave                          3.14
Aenarap34    15      Soul Infused Crystal                        2.96
Aeral43      78      Glimmer, Ender of the Moon                  4.40
Aeral68      77      Piety, Guardian of Riddles                  4.00

## Player Count

* Display the total number of players

In [3]:
Players=purchase_data["SN"].value_counts()
pc=Players.count()
print (f" Total number of players is {pc}.")
pc

 Total number of players is 576.

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
AveragePrice=purchase_data["Price"].mean()
MaxPrice=purchase_data["Price"].max()
MinPrice=purchase_data["Price"].min()
Total_Items_sold=purchase_data["Item ID"].count()
Revenues=Total_Items_sold*AveragePrice

#report
PurchasingAnalysis=pd.DataFrame(
{"Average Price":[AveragePrice],"Most expensive item":[MaxPrice],"Cheapest item":[MinPrice], "Number of Items in Store": [Total_Items_sold], "Total Revenues":[Revenues]})


#PurchasingAnalysis=PurchasingAnalysis.astype(str)

In [5]:
PurchasingAnalysis.head()

,Average Price,Most expensive item,Cheapest item,Number of Items in Store,Total Revenues
0,3.050987,4.99,1.0,780,2379.77

In [6]:
## Formating

PurchasingAnalysis["Average Price"]=PurchasingAnalysis["Average Price"].map("${:.2f}".format)
PurchasingAnalysis["Most expensive item"]=PurchasingAnalysis["Most expensive item"].map("${:.2f}".format)
PurchasingAnalysis["Cheapest item"]=PurchasingAnalysis["Cheapest item"].map("${:.2f}".format)
PurchasingAnalysis["Total Revenues"]=PurchasingAnalysis["Total Revenues"].map("${:.2f}".format)

In [7]:
PurchasingAnalysis.transpose()

                                 0
Average Price                $3.05
Most expensive item          $4.99
Cheapest item                $1.00
Number of Items in Store       780
Total Revenues            $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
GenderDemoCount=purchase_data["Gender"].value_counts()
GenderDemoCount

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [9]:
GenderDemoPercent=(purchase_data["Gender"].value_counts(normalize=True)*100).map("{:.2f}%".format)
GenderDemoPercent

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
##Male data
maleData=purchase_data.loc[(purchase_data["Gender"] == "Male")]
malesales=maleData["Price"].sum()
malesalesaverage=maleData["Price"].mean()
malesalesunit=maleData["Price"].count()

##Female data
femaleData=purchase_data.loc[(purchase_data["Gender"] == "Female")]
femalesales=femaleData["Price"].sum()
femalesalesaverage=femaleData["Price"].mean()
femalesalesunit=femaleData["Price"].count()

In [11]:
##Report

genderSalesReport=pd.DataFrame({
    "Female Sales":[femalesales],
    "Male Sales":[malesales],
    "Female Average Prices":[femalesalesaverage],
    "Male Average Price":[malesalesaverage],
    "Number of sales by female":[femalesalesunit],
    "Number of sales by male":[malesalesunit],
    })

genderSalesReport["Female Sales"]=genderSalesReport["Female Sales"].map("${:.2f}".format)
genderSalesReport["Female Average Prices"]=genderSalesReport["Female Average Prices"].map("${:.2f}".format)
genderSalesReport["Male Sales"]=genderSalesReport["Male Sales"].map("${:.2f}".format)
genderSalesReport["Male Average Price"]=genderSalesReport["Male Average Price"].map("${:.2f}".format)

genderSalesReport.transpose()

                                  0
Female Sales                $361.94
Male Sales                 $1967.64
Female Average Prices         $3.20
Male Average Price            $3.02
Number of sales by female       113
Number of sales by male         652

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
#Bins by Age data
#purchase_data["Age"].describe()
medianAge=purchase_data["Age"].median()
maxAge=purchase_data["Age"].max()
minAge=purchase_data["Age"].min()
firstStep=(medianAge+minAge)/2
secondStep=(medianAge+maxAge)/2
##
bins = [minAge, firstStep, medianAge, secondStep,maxAge]
group_names = ["Youngest Age Group", "Second Age Group", "Third Age Group", "Oldest Age Group"]

In [21]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, right=False)

In [31]:
AgeSummary=(purchase_data["Age Group"].value_counts(normalize=True)*100).map("{:.2f}%".format)

AgeSummary

Third Age Group       47.37%
Second Age Group      38.13%
Oldest Age Group       7.96%
Youngest Age Group     6.55%
Name: Age Group, dtype: object

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

AttributeError: 'DataFrame' object has no attribute 'cut'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame