### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
table = pd.pivot_table(purchase_data, values='Price', index=['SN', 'Item ID', 'Item Name'])

table.head(20)

                                                                Price
SN           Item ID Item Name
Adairialis76 123     Twilight's Carver                           2.28
Adastirin33  175     Woeful Adamantite Claymore                  4.48
Aeda94       128     Blazeguard, Reach of Eternity               4.91
Aela59       119     Stormbringer, Dark Blade of Ending Misery   4.32
Aelaria33    171     Scalpel                                     1.79
Aelastirin39 58      Freak's Bite, Favor of Holy Might           4.14
             76      Haunted Bronzed Bludgeon                    3.15
Aelidru27    183     Dragon's Greatsword                         1.09
Aelin32      60      Wolf                                        3.54
             115     Spectral Diamond Doomblade                  2.04
             151     Severance                                   3.40
Aelly27      14      Possessed Core                              2.61
             116     Renewed Skeletal Katana                     4.18
Aellynun67   153     Mercenary Sabre                             3.74
Aellyria80   159     Oathbreaker, Spellblade of Trials           3.08
Aelollo59    3       Phantomlight                                2.49
             172     Blade of the Grave                          3.14
Aenarap34    15      Soul Infused Crystal                        2.96
Aeral43      78      Glimmer, Ender of the Moon                  4.40
Aeral68      77      Piety, Guardian of Riddles                  4.00

## Player Count

* Display the total number of players

In [3]:
Players=purchase_data["SN"].value_counts()
pc=Players.count()
print (f" Total number of players is {pc}.")

 Total number of players is 576.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
AveragePrice=purchase_data["Price"].mean()
MaxPrice=purchase_data["Price"].max()
MinPrice=purchase_data["Price"].min()
Total_Items_sold=purchase_data["Item ID"].count()
Revenues=Total_Items_sold*AveragePrice

#report
PurchasingAnalysis=pd.DataFrame(
{"Average Price":[AveragePrice],"Most expensive item":[MaxPrice],"Cheapest item":[MinPrice], "Number of Items in Store": [Total_Items_sold], "Total Revenues":[Revenues]})


#PurchasingAnalysis=PurchasingAnalysis.astype(str)

In [22]:
PurchasingAnalysis.head()

,Average Price,Most expensive item,Cheapest item,Number of Items in Store,Total Revenues
0,3.050987,4.99,1.0,780,2379.77

In [23]:
## Formating problem!!

#PurchasingAnalysis["Average Price"]=PurchasingAnalysis["Average Price"].map("${:.2f}".format)
#PurchasingAnalysis["Most expensive item"]=PurchasingAnalysis["Most expensive item"].map("${:.2f}".format)
#PurchasingAnalysis["Cheapest item"]=PurchasingAnalysis["Cheapest item"].min().map("${:.2f}".format)
#PurchasingAnalysis["Total Revenues"]=PurchasingAnalysis["Total Revenues"].map("${:.2f}".format)

In [30]:
GenderDemo = purchase_data.groupby(["Gender"])
GenderDemo.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame