**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
file="Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
df= pd.read_csv(file)
df.head(3)

C:\Users\nsweh\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN

In [4]:
# Inspect all columns
df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Calculate total number of respondents in survey

Respondents=len(df)
Respondents

15620

In [6]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
df_reduced=df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
df_reduced.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampPostSalary', 'BootcampRecommend',
       'ChildrenNumber', 'CityPopulation', 'CodeEventBootcamp', 'CountryLive',
       'EmploymentField', 'EmploymentStatus', 'Gender', 'HasChildren',
       'HoursLearning', 'Income', 'JobRoleInterest', 'SchoolDegree',
       'SchoolMajor'],
      dtype='object')

In [7]:
# Change "0" to "No" and "1" to "Yes" in response columns
#changing the response codes in the AttendedBootCamp Column
df_reduced["AttendedBootcamp"]=df_reduced["AttendedBootcamp"].replace({0: "No", 1:"Yes"})
df_reduced.head(3)

C:\Users\nsweh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN

In [8]:
 # Extract rows corresponding only to people who attended a bootcamp
    
BTatended = df_reduced.loc[(df_reduced["AttendedBootcamp"] == "Yes")]

BTatended.head(2)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music

In [9]:
# Calculate average age of attendees
Avgage=round(BTatended["Age"].mean())
print(f" Average age of attendees is {Avgage} years old")

 Average age of attendees is 31 years old

In [10]:
# Calculate how many people attended a bootcamp
attended=BTatended ["AttendedBootcamp"].count()
print(f" {attended} attended a bootcamp.")

 953 attended a bootcamp.

In [11]:
# Calculate how many attendees hold degrees
havedegrees=BTatended ["SchoolMajor"].count()
print (f" {havedegrees} have degrees.")

 622 have degrees.

In [12]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

print(f" The number of attendees who self-identify as male; female; or are of non-binary gender identification are as follow: \n")
y=BTatended['Gender'].value_counts()
y

 The number of attendees who self-identify as male; female; or are of non-binary gender identification are as follow:

male           496
female         326
genderqueer      6
trans            3
agender          2
Name: Gender, dtype: int64

In [13]:
# Calculate percentage of respondents who attended a bootcamp
attended=BTatended ["AttendedBootcamp"].count()

percentage_attended=round(attended/Respondents*100)
print(f" The percentage of respondents who attended a bootcamp is {percentage_attended} %.")

 The percentage of respondents who attended a bootcamp is 6.0 %.

In [14]:
# Calculate percentage of respondents belonging to each gender

perc=BTatended['Gender'].value_counts(normalize =True)*100
genderPercentage= pd.DataFrame(perc)
genderPercentage

                Gender
male         59.543818
female       39.135654
genderqueer   0.720288
trans         0.360144
agender       0.240096

In [15]:
gCount=BTatended['Gender'].value_counts()
genderCount= pd.DataFrame(gCount)
genderCount

             Gender
male            496
female          326
genderqueer       6
trans             3
agender           2

In [16]:
# Calculate percentage of respondents belonging to each gender (#2)
#Total count
tot_gender=BTatended["Gender"].count()
#Total male
male=BTatended.loc[(BTatended["Gender"] == "male")]
m=male["Gender"].count()

#Total female
female=BTatended.loc[(BTatended["Gender"] == "female")]
f=female["Gender"].count()

#Total non-binary
nongender = BTatended.loc[(BTatended["Gender"] != "male") & (BTatended["Gender"] != "female")]
ng=nongender["Gender"].count()

#Percentages
male_perc=(m/tot_gender)*100
female_perc=(f/tot_gender)*100
ng_perc=(ng/tot_gender)*100

print (f" Male percentage is {male_perc} % \n Female percentage is {female_perc}%,\n and non-gender percentage is {ng_perc} %." )

 Male percentage is 59.5438175270108 %
 Female percentage is 39.13565426170468%,
 and non-gender percentage is 1.3205282112845138 %.

In [17]:
# Calculate percentage of attendees with a school degree
a=round(BTatended['SchoolMajor'].count()/attended*100, 2)
a
print (f" The percentage of attendees with a school degree is {a}%.")

 The percentage of attendees with a school degree is 65.27%.

In [18]:
# Calculate average post-bootcamp salary
s=df_reduced["BootcampPostSalary"].mean()
ss=round(s,2)
print (f" The average post-bootcamp salary is US${ss}")

 The average post-bootcamp salary is US$63740.51

In [19]:
# Create a new table consolodating above calculations

report_df=pd.DataFrame(
    {"Average age of attendees":[Avgage],"People attended a bootcamp":[attended],"Attendees holding degrees":[havedegrees],"Percentage of attendees with a school degree":[a],
     "Average post-bootcamp salary":[s], "Male percentage":[male_perc],"Female percentage": [female_perc],"non-gender percentage": [ng_perc],
    })


report_df

,Average age of attendees,People attended a bootcamp,Attendees holding degrees,Percentage of attendees with a school degree,Average post-bootcamp salary,Male percentage,Female percentage,non-gender percentage
0,31,953,622,65.27,63740.506061,59.543818,39.135654,1.320528

In [20]:
# Improve formatting before outputting spreadsheet
report_df["Average post-bootcamp salary"]=report_df["Average post-bootcamp salary"].map("${:.2f}".format)

report_df

,Average age of attendees,People attended a bootcamp,Attendees holding degrees,Percentage of attendees with a school degree,Average post-bootcamp salary,Male percentage,Female percentage,non-gender percentage
0,31,953,622,65.27,$63740.51,59.543818,39.135654,1.320528

In [21]:
# Export to Excel
output=report_df.transpose()
output.to_csv("surveyoutput.csv")