**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
file="Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
df= pd.read_csv(file)
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [ ]:
# Inspect all columns
df.columns

In [ ]:
# Calculate total number of respondents in survey

Respondents=len(df)
Respondents

In [ ]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
df_reduced=df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
df_reduced.columns

In [ ]:
# Change "0" to "No" and "1" to "Yes" in response columns
df_reduced["AttendedBootcamp"]=df_reduced["AttendedBootcamp"].replace({0: "No", 1:"Yes"})
df_reduced.count()

In [ ]:
attending = df_reduced.groupby("AttendedBootcamp")
#Average_age=round(attending["Age"].mean())
attending.count()

In [ ]:
 # Extract rows corresponding only to people who attended a bootcamp
    
BTatended = df_reduced.loc[(df_reduced["AttendedBootcamp"] == "Yes")]

BTatended.head()

In [ ]:
# Calculate average age of attendees
Avgage=round(BTatended["Age"].mean())
print(f" Average age of attendees is {Avgage} years old")

In [ ]:
# Calculate how many people attended a bootcamp
attended=BTatended ["AttendedBootcamp"].count()
print(f" {attended} attended a bootcamp.")

In [ ]:
# Calculate how many attendees hold degrees
havedegrees=BTatended ["SchoolMajor"].count()
print (f" {havedegrees} have degrees.")

In [ ]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

print(f" The number of attendees who self-identify as male; female; or are of non-binary gender identification are as follow: \n")
y=BTatended['Gender'].value_counts()
y

In [ ]:
# Calculate percentage of respondents who attended a bootcamp
attended=BTatended ["AttendedBootcamp"].count()

percentage_attended=round(attended/Respondents*100)
print(f" The percentage of respondents who attended a bootcamp is {percentage_attended} %.")

In [ ]:
# Calculate percentage of respondents belonging to each gender

y=BTatended['Gender'].value_counts()
t=BTatended['Gender'].count()
perc=round((y/t)*100,2)
print (f" The percentage of respondents belonging to each gender is as follow \n")
perc

In [ ]:
# Calculate percentage of respondents belonging to each gender (#2)
#Total count
tot_gender=BTatended["Gender"].count()
#Total male
m=BTatended.loc[(BTatended["Gender"] == "male")].count()
m=male["Gender"].count()

#Total female
female=BTatended.loc[(BTatended["Gender"] == "female")]
f=female["Gender"].count()

#Total non-binary
nongender = BTatended.loc[(BTatended["Gender"] != "male") & (BTatended["Gender"] != "female")]
ng=nongender["Gender"].count()

#Percentages
male_perc=(m/tot_gender)*100
female_perc=(f/tot_gender)*100
ng_perc=(ng/tot_gender)*100

print (f" Male percentage is {male_perc} % \n Female percentage is {female_perc}%,\n and non-gender percentage is {ng_perc} %." )

In [ ]:
# Calculate percentage of attendees with a school degree
a=round(BTatended['SchoolMajor'].count()/attended*100, 2)
a
print (f" The percentage of attendees with a school degree is {a}%.")

In [ ]:
# Calculate average post-bootcamp salary
s=df_reduced["BootcampPostSalary"].mean()
ss=round(s,2)
print (f" The average post-bootcamp salary is US${ss}")

In [ ]:
# Create a new table consolodating above calculations

report_df=pd.DataFrame(
    {"Average age of attendees":[Avgage],"People attended a bootcamp":[attended],"Attendees holding degrees":[havedegrees],"Percentage of attendees with a school degree":[a],
     "Average post-bootcamp salary":[s], "Male percentage":[male_perc],"Female percentage": [female_perc],"non-gender percentage": [ng_perc],
    })


report_df

In [ ]:
# Improve formatting before outputting spreadsheet
report_df["Average post-bootcamp salary"]=report_df["Average post-bootcamp salary"].map("${:.2f}".format)

report_df

In [ ]:
# Export to Excel
output=report_df.transpose()
output.to_csv("surveyoutput.csv")