In [1]:
import pandas as pd

In [2]:
poll="Resources/election_data.csv"
poll_pd = pd.read_csv(poll)
poll_pd.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
poll_pd.count()

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [9]:
# The total number of votes each candidate won
grouped_poll = poll_pd.groupby(['Candidate'])
Results=grouped_poll.count()
Sorted_Results=Results.sort_values("Voter ID", ascending=False)
Sorted_Results = Sorted_Results.rename(columns={"Voter ID":"Total_Votes"})
Sorted_Results.head()

           Total_Votes   County
Candidate
Khan           2218231  2218231
Correy          704200   704200
Li              492940   492940
O'Tooley        105630   105630

In [5]:
# The percentage of votes each candidate won
# The total number of votes each candidate won
t= Sorted_Results["Total_Votes"].sum()
Sorted_Results["percentage"]=round((Sorted_Results["Total_Votes"]/t)*100)

#Sorted_Results=Sorted_Results["County"].drop
Sorted_Results

           Total_Votes   County  percentage
Candidate
Khan           2218231  2218231        63.0
Correy          704200   704200        20.0
Li              492940   492940        14.0
O'Tooley        105630   105630         3.0

In [6]:
published_Results = Sorted_Results[["Total_Votes","percentage"]]
published_Results.head()

           Total_Votes  percentage
Candidate
Khan           2218231        63.0
Correy          704200        20.0
Li              492940        14.0
O'Tooley        105630         3.0

In [7]:
# winner!
winner = published_Results.loc[published_Results["percentage"] == published_Results["percentage"].max()]
print(winner)

           Total_Votes  percentage
Candidate
Khan           2218231        63.0

In [8]:
# Writing Results
winner.to_csv("Poll_Results.csv")
published_Results.to_csv("Poll_Results.csv", mode='a' )