In [1]:
import pandas as pd

In [19]:
file="data\Scoring.csv"
scoringData=pd.read_csv(file)

In [29]:
scoringData.sort_values(by=['year'],ascending=False).head(5)

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
17295,hoffmmi02,2011,1,OTT,NHL,C,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26721,mcbaija02,2011,1,CAR,NHL,D,76.0,8.0,19.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37362,schneco01,2011,1,VAN,NHL,G,33.0,0.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1936,beaucfr01,2011,1,AND,NHL,D,82.0,8.0,14.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26697,mcardke01,2011,1,WPG,NHL,L,9.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
scoringData.sort_values(by='G',ascending=False).head(5)

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
14884,gretzwa01,1981,1,EDM,NHL,C,80.0,92.0,120.0,212.0,...,7.0,12.0,8.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
14886,gretzwa01,1983,1,EDM,NHL,C,74.0,87.0,118.0,205.0,...,22.0,35.0,12.0,18.0,2.0,NaN,0.0,NaN,3.0,86.0
18264,hullbr01,1990,1,STL,NHL,R,78.0,86.0,45.0,131.0,...,8.0,19.0,4.0,5.0,3.0,1.0,0.0,0.0,2.0,58.0
23609,lemiema01,1988,1,PIT,NHL,C,76.0,85.0,114.0,199.0,...,7.0,19.0,16.0,-1.0,7.0,3.0,1.0,0.0,0.0,41.0
18251,hullbo01,1974,1,WIJ,WHA,L,78.0,77.0,65.0,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
allTime=scoringData.groupby("playerID").sum()
allTime.head(5)

,year,stint,GP,G,A,Pts,PIM,+/-,PPG,PPA,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
playerID,,,,,,,,,,,,,,,,,,,,,
aaltoan01,7994,4,151.0,11.0,17.0,28.0,52.0,-25.0,3.0,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
abbeybr01,1975,1,17.0,1.0,0.0,1.0,12.0,-3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
abbotge01,1943,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
abbotre01,1952,1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
abdelju01,10045,5,209.0,18.0,29.0,47.0,160.0,8.0,0.0,0.0,...,2.0,5.0,60.0,-6.0,0.0,0.0,0.0,0.0,0.0,47.0

In [32]:
X = allTime[["GP", "A", "Pts"]]
y = allTime["G"].values.reshape(-1, 1)
print(X.shape, y.shape)

(7520, 3) (7520, 1)

In [33]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
score = model.score(X, y)

est = model.fit(X, y)


print(est.summary())

AttributeError: 'LinearRegression' object has no attribute 'summary'

In [54]:
table=pd.read_html("https://records.nhl.com/records/skater-records/goals/most-goals-career", header=0)

ValueError: No tables found