In [1]:
import pandas as pd

In [2]:
bank="Resources/budget_data.csv"
bank_pd = pd.read_csv(bank)
bank_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [58]:
# The total number of months included in the dataset
#The net total amount of "Profit/Losses" over the entire period
_duration=bank_pd["Date"].count()
_duration

86

In [53]:
#The net total amount of "Profit/Losses" over the entire period
_pl=bank_pd["Profit/Losses"].sum()
print (f"the net total amount of Profit/Losses over the entire period is {_pl} $")

he net total amount of Profit/Losses over the entire period is 38382578.0 $

In [4]:
bank_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
Date             86 non-null object
Profit/Losses    86 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

In [5]:
bank_pd["Profit/Losses"]=bank_pd["Profit/Losses"].astype(float)
bank_pd.head()

       Date  Profit/Losses
0  Jan-2010       867884.0
1  Feb-2010       984655.0
2  Mar-2010       322013.0
3  Apr-2010       -69417.0
4  May-2010       310503.0

In [6]:
bank_pd["change in Profit/Loss"]=bank_pd["Profit/Losses"].diff(periods=1)
bank_pd.head()

       Date  Profit/Losses  change in Profit/Loss
0  Jan-2010       867884.0                    NaN
1  Feb-2010       984655.0               116771.0
2  Mar-2010       322013.0              -662642.0
3  Apr-2010       -69417.0              -391430.0
4  May-2010       310503.0               379920.0

In [7]:
bank_pd["Percentage_change"] =round(bank_pd["Profit/Losses"].pct_change()*100)
bank_pd.head()

       Date  Profit/Losses  change in Profit/Loss  Percentage_change
0  Jan-2010       867884.0                    NaN                NaN
1  Feb-2010       984655.0               116771.0               13.0
2  Mar-2010       322013.0              -662642.0              -67.0
3  Apr-2010       -69417.0              -391430.0             -122.0
4  May-2010       310503.0               379920.0             -547.0

In [15]:
#* The average of the changes in "Profit/Losses" over the entire period
avg_change=round(bank_pd["change in Profit/Loss"].mean())
print (f"The average of the changes in Profit/Losses over the entire period is {avg_change}$")

The average of the changes in Profit/Losses over the entire period is -2315$

In [27]:
#* The greatest increase in profits (date and amount) over the entire period

#max_change=round(bank_pd["change in Profit/Loss"].max())

#print (f" The greatest increase in profits over the entire period is {max_change}$")

Max_profits = bank_pd.loc[bank_pd["change in Profit/Loss"] == bank_pd["change in Profit/Loss"].max(), :]
print(f"The greatest increase in profits (date and amount) over the entire period was on: \n \n {Max_profits}")

The greatest increase in profits (date and amount) over the entire period was on:

         Date  Profit/Losses  change in Profit/Loss  Percentage_change
25  Feb-2012      1170593.0              1926159.0             -255.0

In [28]:
#* The greatest decrease in losses (date and amount) over the entire period

Min_profits = bank_pd.loc[bank_pd["change in Profit/Loss"] == bank_pd["change in Profit/Loss"].min(), :]
print(f"The greatest decrease in losses (date and amount) over the entire period was on: \n \n {Min_profits}")

The greatest decrease in losses (date and amount) over the entire period was on:

         Date  Profit/Losses  change in Profit/Loss  Percentage_change
44  Sep-2013     -1196225.0             -2196167.0             -220.0

In [59]:
print (f" **The total number of months included in the dataset is {_duration} months \n")
print (f"** The net total amount of Profit/Losses over the entire period is {_pl} $ \n")
print (f"The total number of months included in the dataset \n {bank_pd.count()}")


print (f"**The average of the changes in Profit/Losses over the entire period is {avg_change}$\n")

print(f"**The greatest increase in profits (date and amount) over the entire period was on: \n \n {Max_profits}\n")

print(f"**The greatest decrease in losses (date and amount) over the entire period was on: \n \n {Min_profits}")

 **The total number of months included in the dataset is 86 months

** The net total amount of Profit/Losses over the entire period is 38382578.0 $

The total number of months included in the dataset
 Date                     86
Profit/Losses            86
change in Profit/Loss    85
Percentage_change        85
dtype: int64
**The average of the changes in Profit/Losses over the entire period is -2315$

**The greatest increase in profits (date and amount) over the entire period was on:

         Date  Profit/Losses  change in Profit/Loss  Percentage_change
25  Feb-2012      1170593.0              1926159.0             -255.0

**The greatest decrease in losses (date and amount) over the entire period was on:

         Date  Profit/Losses  change in Profit/Loss  Percentage_change
44  Sep-2013     -1196225.0             -2196167.0             -220.0