In [2]:
import pandas as pd

In [3]:
employee_file = "Resources/employees.csv"

In [4]:
employee_df = pd.read_csv(employee_file, encoding="ISO-8859-1")
employee_df.head()

  first_name  last_name          ssn
0       Tina    Fleming  619-16-7988
1      Erica       Shah  164-51-7615
2      Paula      Ortiz  051-83-3290
3      James  Hendricks  776-83-2884
4     Lauren       King  197-94-2398

In [5]:
# Use the first_name and last_name keys to create a new email address using the first and last name of the employee. `{"first_name": "John", "last_name": "Glenn"}` would generate the email: `john.glenn@example.com`.

In [6]:
email = employee_df["first_name"]+"."+employee_df["last_name"]+"@example.com"
employee_df["Email"] = email
employee_df.head()

  first_name  last_name          ssn                        Email
0       Tina    Fleming  619-16-7988     Tina.Fleming@example.com
1      Erica       Shah  164-51-7615       Erica.Shah@example.com
2      Paula      Ortiz  051-83-3290      Paula.Ortiz@example.com
3      James  Hendricks  776-83-2884  James.Hendricks@example.com
4     Lauren       King  197-94-2398      Lauren.King@example.com

In [7]:
employee_df.to_csv("new_employee_data.csv", index=False, header=True)