In [2]:
import pandas as pd

In [25]:
file="data/Master.csv"
data=pd.read_csv(file)
names=data.groupby(["lastName"])
namesList=names.count().sort_values(by=['playerID'],ascending=False)
namesList.head(25)

,playerID,coachID,hofID,firstName,nameNote,nameGiven,nameNick,height,weight,shootCatch,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
lastName,,,,,,,,,,,,,,,,,,,,,
Smith,65,5,6,69,0,56,13,63,63,59,...,66,63,61,63,20,17,17,8,8,8
Wilson,30,4,1,31,0,26,4,28,28,28,...,29,29,29,29,7,6,6,3,3,3
Brown,30,0,2,32,0,26,6,28,28,27,...,31,30,28,30,7,6,6,2,2,2
Johnson,26,2,4,27,0,21,4,25,25,25,...,26,27,27,27,6,6,6,4,4,4
Murray,23,3,1,26,0,21,3,23,23,23,...,26,26,25,26,3,1,1,0,0,0
Stewart,21,3,2,22,0,18,5,21,21,21,...,22,22,22,22,6,5,5,3,3,3
Miller,20,0,0,20,0,18,1,18,18,18,...,18,18,18,18,3,3,3,1,1,1
Anderson,19,2,1,19,0,18,9,19,19,19,...,19,19,18,19,3,2,2,1,1,1
Martin,16,1,0,17,0,15,2,16,16,16,...,17,17,17,17,5,4,4,3,3,3
Jones,14,0,0,14,0,9,0,14,14,13,...,13,14,14,14,1,1,1,1,1,1
McDonald,14,0,1,14,0,12,0,13,13,13,...,13,13,13,13,5,4,4,0,0,0
Jackson,14,0,1,14,0,13,2,14,14,14,...,14,14,13,14,5,5,5,1,1,1
Fraser,13,1,0,13,0,9,3,12,12,11,...,12,11,11,11,4,2,2,0,0,0
Morrison,13,0,1,14,0,12,3,13,13,13,...,14,14,14,14,4,4,4,1,1,1
Williams,13,0,0,13,0,10,2,13,13,13,...,13,13,13,13,2,2,2,0,0,0
Taylor,13,0,1,13,0,12,4,13,13,13,...,13,13,12,13,6,6,6,3,3,3
White,12,1,0,12,0,10,2,12,12,12,...,12,12,12,12,2,2,2,0,0,0
Murphy,12,2,1,13,0,10,1,12,12,11,...,12,11,11,11,1,0,0,0,0,0
Campbell,12,1,2,13,0,11,4,11,11,11,...,13,13,13,13,4,2,2,0,0,0
Mitchell,11,0,0,11,0,9,3,8,8,9,...,8,9,8,8,3,2,2,1,1,1
Evans,11,1,0,11,0,10,4,11,11,11,...,11,11,10,11,4,3,3,0,0,0
Young,11,2,0,13,0,12,3,11,11,11,...,12,12,12,12,4,4,4,2,2,2
Ward,11,0,0,11,0,8,1,11,11,11,...,11,11,11,11,2,1,1,0,0,0
Bennett,11,0,0,10,0,10,2,10,10,10,...,10,10,10,10,2,2,2,0,0,0
MacDonald,11,1,0,11,0,8,1,11,11,11,...,11,11,11,11,1,1,1,1,1,1

In [24]:
data.sort_values(by=['lastName'],ascending=True)

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7757,zukemi01,NaN,NaN,Mike,Zuke,NaN,Michael Zuke,NaN,72.0,180.0,...,16.0,Canada,ON,Sault Ste. Marie,NaN,NaN,NaN,NaN,NaN,NaN
7759,zunicru01,NaN,NaN,Rudy,Zunich,NaN,Rudolph Ralph (Jr.),NaN,69.0,170.0,...,24.0,USA,MI,Calumet,1974.0,3.0,13.0,NaN,NaN,NaN
7760,zyuzian01,NaN,NaN,Andrei,Zyuzin,NaN,Andrei,NaN,73.0,208.0,...,21.0,Russia,NaN,Ufa,NaN,NaN,NaN,NaN,NaN,NaN
1580,dehaaca01,NaN,NaN,Calvin,de Haan,NaN,NaN,NaN,73.0,187.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,devrigr01,NaN,NaN,Greg,de Vries,NaN,Gregory,NaN,74.0,215.0,...,4.0,Canada,ON,Sundridge,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
players=data[["playerID", "year","GP","G","A"]].groupby(["playerID", "year"]).sum()
stat=players.groupby("playerID").cumsum()
stat=pd.DataFrame(stat)
stat.head(50)
stat.to_csv("SumofGoals.csv")

In [62]:
stat.dtypes

GP    float64
G     float64
A     float64
dtype: object