**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
file="Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
df= pd.read_csv(file)
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns
df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Calculate total number of respondents in survey

Respondents=len(df)
Respondents

15620

In [6]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
df_reduced=df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
df_reduced.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampPostSalary', 'BootcampRecommend',
       'ChildrenNumber', 'CityPopulation', 'CodeEventBootcamp', 'CountryLive',
       'EmploymentField', 'EmploymentStatus', 'Gender', 'HasChildren',
       'HoursLearning', 'Income', 'JobRoleInterest', 'SchoolDegree',
       'SchoolMajor'],
      dtype='object')

In [7]:
# Change "0" to "No" and "1" to "Yes" in response columns
df_reduced["AttendedBootcamp"]=df_reduced["AttendedBootcamp"].replace({0: "No", 1:"Yes"})
df_reduced.count()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Age                     13613
AttendedBootcamp        15380
BootcampFinish            933
BootcampFullJobAfter      635
BootcampLoanYesNo         934
BootcampPostSalary        330
BootcampRecommend         937
ChildrenNumber           2554
CityPopulation          13630
CodeEventBootcamp          42
CountryLive             13610
EmploymentField          7608
EmploymentStatus        12904
Gender                  13746
HasChildren              4012
HoursLearning           14942
Income                   7329
JobRoleInterest          6503
SchoolDegree            13679
SchoolMajor              8450
dtype: int64

In [8]:
attending = df_reduced.groupby("AttendedBootcamp")
#Average_age=round(attending["Age"].mean())
attending.count()

,Age,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
AttendedBootcamp,,,,,,,,,,,,,,,,,,,
No,12683,0,0,0,0,0,2398,12694,15,12672,7078,12007,12794,3777,13913,6858,6032,12737,7771
Yes,818,933,635,934,330,937,148,823,27,825,476,792,833,211,925,430,402,832,622

In [9]:
 # Extract rows corresponding only to people who attended a bootcamp
    
BTatended = df_reduced.loc[(df_reduced["AttendedBootcamp"] == "Yes")]

BTatended.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,1.0,1.0,1.0,75000.0,1.0,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1.0,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,0.0,NaN,1.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN

In [10]:
# Calculate average age of attendees
Avgage=round(BTatended["Age"].mean())
print(f" Average age of attendees is {Avgage} years old")

 Average age of attendees is 31 years old

In [11]:
# Calculate how many people attended a bootcamp
attended=BTatended ["AttendedBootcamp"].count()
print(f" {attended} attended a bootcamp.")

 953 attended a bootcamp.

In [12]:
# Calculate how many attendees hold degrees
havedegrees=BTatended ["SchoolMajor"].count()
print (f" {havedegrees} have degrees.")

 622 have degrees.

In [13]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification

print(f" The number of attendees who self-identify as male; female; or are of non-binary gender identification are as follow: \n")
y=BTatended['Gender'].value_counts()
y

 The number of attendees who self-identify as male; female; or are of non-binary gender identification are as follow:

male           496
female         326
genderqueer      6
trans            3
agender          2
Name: Gender, dtype: int64

In [14]:
# Calculate percentage of respondents who attended a bootcamp
attended=BTatended ["AttendedBootcamp"].count()

percentage_attended=round(attended/Respondents*100)
print(f" The percentage of respondents who attended a bootcamp is {percentage_attended} %.")

 The percentage of respondents who attended a bootcamp is 6.0 %.

In [22]:
# Calculate percentage of respondents belonging to each gender

y=BTatended['Gender'].value_counts()
t=BTatended['Gender'].count()
perc=round((y/t)*100,2)
print (f" The percentage of respondents belonging to each gender is as follow \n")
perc

 The percentage of respondents belonging to each gender is as follow

male           59.54
female         39.14
genderqueer     0.72
trans           0.36
agender         0.24
Name: Gender, dtype: float64

In [62]:
tot_gender=BTatended["Gender"].count()
male=BTatended.loc[(BTatended["Gender"] == "male")]
m=male["Gender"].value_counts()

female=BTatended.loc[(BTatended["Gender"] == "female")]
f=female["Gender"].value_counts()

nongender=(BTatended["Gender"].count())-(f)

nongender

female    507
Name: Gender, dtype: int64

In [16]:
# Calculate percentage of attendees with a school degree
a=round(BTatended['SchoolMajor'].count()/attended*100, 2)
a
print (f" The percentage of attendees with a school degree is {a}%.")

 The percentage of attendees with a school degree is 65.27%.

In [17]:
# Calculate average post-bootcamp salary
s=df_reduced["BootcampPostSalary"].mean()
ss=round(s,2)
print (f" The average post-bootcamp salary is US${ss}")

 The average post-bootcamp salary is US$63740.51

In [18]:
# Create a new table consolodating above calculations

report_df=pd.DataFrame(
    {"Average age of attendees":[Avgage],"People attended a bootcamp":[attended],"Attendees holding degrees":[havedegrees],"Percentage of attendees with a school degree":[a],
     "Average post-bootcamp salary":[s],
    })


report_df

,Average age of attendees,People attended a bootcamp,Attendees holding degrees,Percentage of attendees with a school degree,Average post-bootcamp salary
0,31,953,622,65.27,63740.506061

In [19]:
# Improve formatting before outputting spreadsheet
report_df["Average post-bootcamp salary"]=report_df["Average post-bootcamp salary"].map("${:.2f}".format)

report_df

,Average age of attendees,People attended a bootcamp,Attendees holding degrees,Percentage of attendees with a school degree,Average post-bootcamp salary
0,31,953,622,65.27,$63740.51

In [20]:
# Export to Excel
output=report_df.transpose()
output.to_csv("surveyoutput.csv")